/* make margin to create gap */
.todo {
  margin: 10px;
}

/* make the todo list looks like a card */
.todo .card {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* style form */
.todo-form  .form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

